<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="ComportName" value="COM2"/>
		<add key="ComportSpeed" value="1200"/>
		<add key="ComportStopbits" value="1"/>
		<add key="ComportParity" value="0"/>
		<add key="ComportDataBits" value="8"/>
		<add key="TcpPort" value="64738"/>
	</appSettings>
</configuration>
